/*Style for the dog animation page*/
#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

#link li a{
    font-size: 25px;
    text-decoration: none;
    color:green;
}

#link li{
    list-style-type: none;
}

.controls {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}

.controls,
select,
option {
    font-size: 25px;
}


/*parallax background CSS*/
#parallaxBackground{
    background-color:black;
}

#canvas2 {
    position:absolute;
    border: solid 5px white;
    width:800px;
    height:700px;
    transform:translate(-50%, -50%);
    top: 50%;
    left:50%;
}

/*dog animation media screen*/
@media screen and (max-width:500px) {
    #canvas1 {
        width: 400px;
        border: none;
    }
}