/*Style for the dog animation page*/
#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

ul {
    margin-bottom: 50px;
}

#link li a {
    font-size: 25px;
    text-decoration: none;
    color: green;
}

#link li {
    list-style-type: none;
}

.controls {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}

.controls,
select,
option {
    font-size: 25px;
}


/*parallax background CSS*/
#parallaxBackground {
    background-color: black;
    color: white;
}

#container {
    position: absolute;
    width: 800px;
    height: 700px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 25px;
}

#canvas2 {
    position: relative;
    width: 800px;
    height: 700px;
    top: 50%;
    left: 25%;

}

#slider {
    width: 100%;
}

#container p {
    color: white;
}

/*Enemy movement html css*/
#enemymovementhtml {
    background-color:red;
}

#canvas3 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1000px;
    width: 500px;
    border: 3px solid black;
}



/*dog animation media screen*/
@media screen and (max-width:500px) {
    #canvas1 {
        width: 400px;
        border: none;
        margin-top: 140px;
    }

    /*parallax background media screen*/
    #canvas2 {
        left: -10px;
    }
}